
.section-title{
    background-color: rgb(48, 57, 234);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.button{
    border: 2px solid rgb(5, 9, 81) ;
    
}
.input{
    border: 2px solid rgb(5, 9, 81) ;   
}
.load-more{
    display: block;
    margin: 0 auto;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    /* height: 100vw; */
    
}
.gallery-section{
    padding: 20px 100px;
    
}
.photo-card{
    flex-basis: calc((100% - 20px * (10 - 1)) / 10);
}
.links{
    font-size: 12px;
    text-decoration: none;
    color:black;
    width: 100%;
    padding: 3px;
    flex-basis: calc(20% - 15px);
    border: 1px solid black;
}
.small_img{
    width: 100%;
    
}