.section-title{
    background-color: rgb(48, 57, 234);
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.button{
    border: 2px solid rgb(5, 9, 81) ;
    
}
.input{
    border: 2px solid rgb(5, 9, 81) ;   
}
.button.js_button{
    display: block;
    margin: 0 auto;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}
.gallery-section{
    padding: 20px 100px;
    
}
.photo-card{
    padding: 3px;
    border: 1px solid black;
    flex-basis: calc((100% - 20px * (10 - 1)) / 10);
}